.body-container {
  height: 80vh;
  margin: 10vh auto;
  overflow: hidden;
}

.card {
  min-height: 300px;
  max-height: 300px;
}

.front {
  transform: rotateY(360deg);
}

.back {
  transform: rotateY(180deg);
}

.question, .answer {
  display: none;
}

.active {
  display: block;
}

@keyframes fadeRight {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes fadeLeft {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
.slide-right {
  animation: fadeRight 1s ease-in-out;
}

.slide-left {
  animation: fadeLeft 1s ease-in-out;
}

@media (min-width: 992px) { /* lg breakpoint */
  .body-container {
    width: 800px;
  }
}
